body
{
	background-color:#6591be;
	margin:5px;
	scrollbar-face-color:#5385b7;
	scrollbar-highlight-color:#5385b7;  
	scrollbar-3dlight-color:#6b96c0; 
	scrollbar-arrow-color:#386087; 
	scrollbar-track-color:#6b96c0; 
	scrollbar-darkshadow-color:#4575a5; 
	scrollbar-shadow-color:#3f6a96;
}
#top
{
	width: 149px;
	height: 6px;
	overflow:hidden;
	background-image: url('../../Images/left_top.gif');
}
#content
{
	background-color:#b8d8f9;
	width:149px;
	overflow:hidden;
}
.title
{
	font-size:16px;
	width:139px;
	height:30px;
	margin-left:6px;
	margin-top:5px;
}
.text{width:139px;}
#extand
{
	float:left;
	width:50px;
	display:inline;
	height:20px;
	margin-left:6px;
	font-size:12px;
	background-image: url('../../Images/extand.gif');
}
#collapse
{
	float:left;
	width:50px;
	display:inline;
	height:20px;
	margin-left:38px;
	font-size:12px;
	background-image: url('../../Images/collapse.gif');
}
#g_1{background-image: url('../../Images/menu_a.gif');}
#g_2{background-image: url('../../Images/menu_b.gif');}
#g_3{background-image: url('../../Images/menu_c.gif');}
#g_4{background-image: url('../../Images/menu_e.gif');}
#g_5{background-image: url('../../Images/menu_f.gif');}
#d_1{height:64px;}
#d_2{height:46px;}
#d_3{height:46px;}
#d_4{height:46px;}
#copyright{height:32px; font-size:12px; color:#1a438e; margin-left:16px; margin-top:10px;}
p{font-size:12px; width:100%;}
#bottom
{
	width:149px;
	height: 6px;
	overflow:hidden;
	background-image: url('../../Images/left_bottom.gif');
}
a
{
	color:White;
	text-decoration:none;
	position:absolute;
	margin-top:4px;
	margin-left:7px;
}
.title a
{
	color:White;
	text-decoration:none;
	position:absolute;
	margin-top:8px;
	margin-left:30px;
}
p a{ color:#1a438e; text-decoration:none; position:absolute; margin-left:20px; margin-top:10px;}
a:hover
{
	color:Black;
}